* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid blue;*/
    outline: 1px solid rgba(0,0,0,.2);
    /*background-color: rgba(0,0,0,.01);*/
}



/* ========= layout =========== */

.ly_header {
    height: 10vh;
}

.ly_header_inner{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ly_main {
    height: 85vh;
    padding: 1rem;
}

.ly_main_inner {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    padding: 1%;
    display: flex;
    gap: 1rem;
}

.ly_main_inner_col1 {
    flex: 1 0 40%;
    padding: .5rem;
}

.ly_main_inner_col1_row1 {
    padding: 1.5rem;
    height: 10%;
}

.ly_main_inner_col1_row2 {
    padding: 1.5rem;
    height: 90%;
}

.ly_main_inner_col2 {
    padding: .5rem;
    flex: 1 0 55%;
}

.ly_main_inner_col2_row1 {
    padding: 1.5rem;
    height: 10%;
}

.ly_main_inner_col2_row2 {
    padding: 1.5rem;
    height: 20%;
}

.ly_main_inner_col2_row3 {
    padding: 1.5rem;
    height: 50%;
}

.ly_main_inner_col2_row4 {
    padding: 1.5rem;
    height: 20%;
}

.ly_footer {
    height: 5vh;
}

/* ========= bl_data_util_button =========== */
.bl_data_util_button {
    font-size: .8rem;
}


/* ========= bl_data =========== */

.bl_data {
    height: 100%;
}

.bl_data > *+* {
    margin-block-start: .5rem;
}

.bl_data_util_box {
    padding: .25rem;
    text-align: right;
}

.bl_data_util_box > * {
    margin-right: .25rem;
}

.bl_data_util_box > *:last-child {
    margin-right: 0;
}

.bl_data_body {
    height: 95%;
    overflow-y: scroll;
}

.bl_data_body > *+* {
    margin-block-start: .5rem;
}

.bl_data_item_box {
    display: flex;
    align-items: center;
    font-size: .9rem;
}

.bl_data_item_box > * {
    margin-right: .5rem;
}

.bl_data_item_box > *:last-child {
    margin-right: 0;
}


.bl_data_item_subBox {
    font-size: .7rem;
}

.bl_data_item_subBox > * {
    margin-right: 1rem;
}

.bl_data_item_subBox > *:last-child {
    margin-right: 0;
}

.hp_data_item_text_long {
    flex-grow: 1 ;
}

.hp_unVisible {
    display: none;
}