:root {
  --primary-color: 233, 32, 99;
  --secondary-color: 124, 77, 255;
  --thirdary-color: 0,191,165;
  --sub-color: 173, 173, 173;
  --oposite-color : 255, 255, 255;
  --clear-color : 22, 22, 22;
  --font-size-normal : .8rem;
  --font-size-smaill : .7rem;
  --font-size-big : 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", "PT Sans", serif;
    color: rgba(var(--clear-color), 1);
    /*outline: 1px solid rgba(0,0,0,.1);*/
}

a {
    color: rgba(var(--thirdary-color, 1));
}

li {
    display: block;
    list-style: none; /* 기본 스타일 제거 */
}

input {
    min-width: 0;
    box-sizing: border-box;
    font-size: .9rem;
    padding: .2rem 0;
    background-color: rgba(var(--thirdary-color),.1);
    line-height: 1rem;
    height: 1.5rem;
}



/* ========= layout =========== */

.ly_header {
    height: 6vh;
}


.ly_header_inner{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ly_main {
    height: 89vh;
    padding: 1rem;
}

.ly_main_inner {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    padding: .25rem;
    display: flex;
    gap: 1rem;
    overflow: hidden;
}

.ly_main_inner_col1 {
    padding: .5rem;
    flex: 1.5;
}

.ly_main_inner_col1_row1 {
    padding: .5rem;
    height: 7%;
}

.ly_main_inner_col1_row2 {
    padding: .5rem;
    height: 93%;
    background-color: rgba(var(--sub-color), .2);
    border-radius: 1rem;
}

.ly_main_inner_col2 {
    padding: .25rem;
    overflow: hidden;
    flex:2
}

.ly_main_inner_col2 > * {
    margin-bottom: 1rem;
}

.ly_main_inner_col2 > *:first-child {
    margin-bottom: 0;
}

.ly_main_inner_col2_row1 {
    padding: .5rem;
    height: 7%;
}

.ly_main_inner_col2_row2 {
    padding: 1rem;
    height: 20%;
    background-color: rgba(var(--sub-color), .2);
    border-radius: 1rem;
    box-shadow: .1rem .1rem 1rem 0 rgba(var(--clear-color), .1);
}

.ly_main_inner_col2_row3 {
    padding: .5rem;
    height: 60%;
    background-color: rgba(var(--sub-color), .2);
    border-radius: 1rem;

}

.ly_main_inner_col2_row4 {
    padding: .5rem;
    height: 30%;
    background-color: rgba(var(--sub-color), .2);
    border-radius: 1rem;

}

.ly_footer {
    height: 5vh;
    background-color: rgba(var(--clear-color), .8);
}

/* ========= bl_data_util_button =========== */
.bl_data_util_button {
    font-size: var(--font-size-normal);
    display: inline-block;
    padding: 0.1rem .2rem;
    color: white;
    background-color: rgba(var(--clear-color), .4);
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

.bl_data_util_button:hover {
    background-color: rgba(var(--secondary-color), .7);
    border: 1px solid rgba(var(--secondary-color), .9);
}


    /* ========= bl_data =========== */

.bl_wk_data, .bl_lg_data, .bl_sh_data {
    height: 100%;
}

.bl_wk_data > *,
.bl_lg_data > *,
.bl_sh_data > * {
    margin-top: .5rem;
}


.bl_data_item {
    padding: .5rem;
    background-color: rgba(var(--oposite-color), 1);
    border-radius: .5rem;
    border: solid .01rem rgba(var(--sub-color), .5);
    color: rgba(var(--clear-color), 1);
}


.bl_data_item:hover {
    background-color: rgba(var(--sub-color), .5);
}

.bl_data_item_box {
    height: 1.2rem;
}

.bl_data_util_box > * {
    margin-right: .2rem;
}

.bl_data_util_box > *:last-child {
    margin-right: 0;
}

.bl_data_body > *+* {
    margin-block-start: .2rem;
}

.bl_data_body {
    padding: 0 .25rem;
}

.bl_data_item_box {
    display: flex;
    align-items: center;
    font-size: .9rem;
}

.bl_data_item_box > * {
    position: relative;
    margin-right: .5rem;
}

.bl_data_item_box > *:last-child {
    margin-right: 0;
}

.bl_data_item_box > *:after {
    position: absolute;
    display: inline-block;
    content: "|";
    font-size: .7rem;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: rgba(var(--sub-color), 8);
}

.bl_data_item_box_edit > * {
    padding: .5rem;
    margin-right: .5rem;
}

.bl_data_item_box_edit > *:last-child {
    margin-right: 0;
}

.bl_data_item_subBox {
    font-size: .7rem;
}

.bl_data_item_subBox > * {
    margin-right: 1rem;
}

.bl_data_item_subBox > *:last-child {
    margin-right: 0;
}

.bl_data_item_box_edit {
    display: flex;
    align-items: center;
    background-color: rgba(var(--oposite-color), 1);
    border-radius: .5rem ;
    border: solid .01rem rgba(var(--sub-color), .5);
}

.bl_data_item_box_edit > input {
    border: none;
    font-size: var(--font-size-normal);
}

.bl_data_item_subBox_edit {
    font-size: var(--font-size-smaill);
}

.bl_data_item_subBox_edit >* {
    margin-right: .25rem;
}

.bl_data_item_subBox_edit > input {
    border: none;
}

input[type="file"] {
    display: none;
}

/* 커스텀 버튼 스타일 */
.bl_data_item_subBox_edit > label {
    display: inline-block;
    padding: 0.1rem .2rem;
    font-size: .7rem; /* 글씨 크기 조정 */
    color: white;
    background-color: rgba(var(--clear-color), .5);
    border: 1px solid rgba(var(--clear-color), .5);
    border-radius: 4px;
    cursor: pointer;
}

.bl_data_item_file {
    color: rgba(var(--thirdary-color),1);
}

.bl_data_item_file::before {
    content: "\f15b";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
}

#wkRankUp:after {
    display: inline-block;
    margin-left: .25rem;
    content: "\f0d8";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    color: rgba(var(--oposite-color));
}

#wkRankDown:after {
    display: inline-block;
    margin-left: .25rem;
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    color: rgba(var(--oposite-color));
}


#wkRemoveParent:after {
    display: inline-block;
    margin-left: .25rem;
    content: "\f2f9";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    color: rgba(var(--oposite-color));
}


/*========= bl_wk_data =============================*/



.bl_wk_data .bl_data_body {
    height: 94%;
    overflow-y: scroll;
}

.bl_wk_data .bl_data_item_date {
    flex: .7;
}

.bl_wk_data .bl_data_item_text {
    flex: 1;
}

.bl_wk_data .bl_data_item_text_long {
    flex: 2;
}

.bl_wk_data .bl_data_item_date {
    flex: .7;
}


.bl_wk_data .bl_data_item_date_edit {
    flex: .7;
}

.bl_wk_data .bl_data_item_text_edit {
    flex: 1;
}

.bl_wk_data .bl_data_item_box_edit .bl_data_item_text_long {
    flex: 2;
}

.bl_wk_data .bl_data_util_box {
    flex: 0 0 7.5rem;
    text-align: left;
}

.bl_wk_data > .bl_data_util_box {
    height: 2rem;
    text-align: right;
    padding: .2rem 2rem;
    border-bottom: solid 1px rgba(var(--clear-color), .4);
}



/*========= bl_lg_data =============================*/

.bl_lg_data .bl_data_body {
    height: 90%;
    overflow-y: scroll;
}

.bl_lg_data .bl_data_item_date {
    flex: 1;
}

.bl_lg_data .bl_data_item_text {
    flex: 1;
}

.bl_lg_data .bl_data_util_box {
    flex: 0 0 5rem;
    text-align: left;
}

.bl_lg_data .bl_data_item_date_edit {
    flex: 1;
    text-align: left;
}

.bl_lg_data .bl_data_item_text_edit {
    flex: 1;
    text-align: left;
}

/*========= bl_sh_data =============================*/

.bl_sh_data {
    height: 75%;
}

.bl_sh_data .bl_data_body {
    height: 90%;
    overflow-y: scroll;
}

.bl_sh_data .bl_data_item_text {
    flex: 1;
    height: 2rem;
    overflow: hidden;
}

.bl_sh_data .bl_data_util_box {
    flex: 0 0 5rem;
    text-align: left;
}

.bl_sh_data .bl_data_item_text_edit {
    flex: 1;

}

/*============ element =================*/

.el_header_logo {
    font-size: 2rem;
    font-weight: 900;
    color: rgba(var(--oposite-color), 1);
}

.el_header_logo a {
    color: rgba(var(--oposite-color), 1);
    text-decoration: none;
}

.el_header_logo:before {
    content: '\40';
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    margin-right: .5rem;
}

.el_header_logo:hover {
    cursor: pointer;
}

.el_heading_lv1 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: .5rem;
    border-left: solid .25rem rgba(var(--sub-color), 1);
    color: rgba(var(--clear-color),1);
}

.el_heading_lv2 {
    font-size: 1.2rem;
    font-weight: 600;
    padding:.5rem;
    border-bottom: solid .1rem rgba(var(--sub-color), 1);
    /*background-color: rgba(var(--oposite-color),1);*/
}

/*============= helper ==================*/

.hp_data_item_text_long {
    flex-grow: 1 ;
}

.hp_unVisible {
    display: none;
}

.hp_selected {
    background-color: rgba(var(--secondary-color),.2);
    border: solid .1rem rgba(var(--secondary-color),1);
}

.hp_primary_bg {
    background-color: rgba(var(--primary-color), 1);
}

.hp_shadow {
    box-shadow: 0.05rem .01rem .5rem .2rem rgba(var(--sub-color, .01));
}