<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style_workInfo.css">
    <title>Title</title>
</head>
<body>
    <div class="bl_data" th:fragment="workInfo">
        <div class="bl_data_util_box">
            <button class="bl_data_util_button">변경</button>
            <button class="bl_data_util_button">올리기</button>
            <button class="bl_data_util_button">내리기</button>
        </div>
        <ul class="bl_data_body">
            <li class="bl_data_item" th:each="work : ${workInfo}" th:attr="data-wk-id=${work.wkId}">
                <div class="bl_data_item_subBox">
                    <span class="bl_data_item_date" th:text="${#temporals.format(work.wkModDate, 'yyyy-MM-dd')}"></span>
                    <span class="bl_data_item_file" th:each="file : ${work.fileVO}">
                        <a th:href="'http://localhost:8080/workSystem/files/download?wfId=' + ${file.wfId}"
                           th:text="${file.wfName.length() > 10 ? file.wfName.substring(0, 10) + '...' : file.wfName}">
                        </a>
                    </span>
                </div>
                <div class="bl_data_item_subBox_edit hp_unVisible">
                    <input class="bl_data_item_date_edit" name="wkDueDate" type="date" th:value="${#temporals.format(work.wkModDate, 'yyyy-MM-dd')}" data-wk-edit="wkEdit"></input>
                    <span class="bl_data_item_file_edit" th:each="file : ${work.fileVO}">
                        <span
                                th:text="${file.wfName.length() > 10 ? file.wfName.substring(0, 10) + '...' : file.wfName}">
                        </span>
                    </span>
                    <input class="bl_data_item_file_edit" name="wfWkId" type="file" th:attr="data-wk-file-edit=${work.wkId}">
                </div>
                <div class="bl_data_item_box">
                    <span class="bl_data_item_date" th:text="${#temporals.format(work.wkRepDate, 'yyyy-MM-dd')}"></span>
                    <span class="bl_data_item_text" th:text="${work.wkTtl}"></span>
                    <span class="bl_data_item_text hp_data_item_text_long" th:text="${work.wkDsc}"></span>
                    <div class="bl_data_util_box">
                        <button id="wkEdit" class="bl_data_util_button">편집</button>
                        <button id="wkRemove" class="bl_data_util_button">삭제</button>
                    </div>
                </div>
                <div class="bl_data_item_box_edit hp_unVisible">
                    <input class="hp_unVisible" type="hidden" name="wkId" th:value="${work.wkId}" data-wk-edit="wkEdit">
                    <input class="bl_data_item_date_edit" name="wkRepDate" type="date" th:value="${#temporals.format(work.wkRepDate, 'yyyy-MM-dd')}" data-wk-edit="wkEdit">
                    <input class="bl_data_item_text_edit" name="wkTtl" type="text" th:value="${work.wkTtl}" data-wk-edit="wkEdit">
                    <input class="bl_data_item_text_edit hp_data_item_text_long" name="wkDsc" type="text" th:value="${work.wkDsc}" data-wk-edit="wkEdit">
                    <div class="bl_data_util_box">
                        <button id="wkEditSubmit" class="bl_data_util_button">완료</button>
                        <button id="wkEditCancel" class="bl_data_util_button">취소</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>
<script src="/js/addEventListener.js"></script>
<script src="/js/eventListener.js"></script>
<script src="/js/requests.js"></script>
</html>