<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Title</title>
</head>
<body>
    <header class="ly_header">
        <div class="ly_header_inner">
            <div class="el_header_logo">Logo</div>
            <div class="md_header_util_wrapper">
                Util
            </div>
        </div>
        <div class="ly_main">
            <div class="ly_main_inner">
                <div class="ly_main_inner_col1">
                    <div class="ly_main_inner_col1_row1">
                        <span>ly_main_inner_col1_row1</span>
                    </div>
                    <div class="ly_main_inner_col1_row2" id="workInfo">
                    </div>
                </div>
                <div class="ly_main_inner_col2">
                    <div class="ly_main_inner_col2_row1">ly_main_inner_col1_row1</div>
                    <div class="ly_main_inner_col2_row2">ly_main_inner_col1_row2</div>
                    <div class="ly_main_inner_col2_row3" id="logInfo">ly_main_inner_col1_row3</div>
                    <div class="ly_main_inner_col2_row4" id="stakeholderInfo">ly_main_inner_col1_row4</div>
                </div>
            </div>
        </div>
        <div class="ly_footer">
            footer
        </div>
    </header>
</body>
<script src="/js/addEventListener.js"></script>
<script src="/js/eventListener.js"></script>
<script src="/js/requests.js"></script>
</html>